<section class="durabilte-ADN py-5">
    <div class="container">
        <div class="circle-label">
            <span class="d-flex align-items-center gap-2"><i class="fas fa-circle"></i> <i
                    class="fas fa-circle"></i> </span> La durabilité comme ADN
        </div>

        <h3>La durabilité n’est pas intégrée dans l’ADN, c’est notre ADN</h3>
        <div class="row align-items-center justify-content-between flex-lg-row">
            <div class="col-lg-6">
                <div class="durabilte-ADN-content">

                    

                    <p class="beforeBorder">
                        Nous avons la conviction que <strong>l´avenir de l´humanité est commun et indivisible, et il ne peut être assuré que si la durabilité est notre philosophie de vie et ligne de conduite.</strong> Raison pour laquelle, nous avons configuré <strong>nos stratégies, nos politiques et nos processus opérationnels</strong> pour refléter notre engagement.
                    </p>

                    <p>
                        De même, nous <strong>mobilisons nos partenaires</strong> et nous encourageons les organisations à se <strong>converger vers des business model plus durables et à opter pour une logique de performance plus globale</strong>, intégrant l´environnement, la société, et les intérêts des différentes parties prenantes.
                    </p>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="durabilte-ADN-image image-left">
                    <img src="/images/durable/ADN.png" alt="ADN durable" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>