<section class="breadcrumb-section">
    <div class="container">
        <div class="row align-items-center mx-4">

            <!-- LEFT CONTENT -->
            <div class="col-lg-7 mb-4 mb-lg-0">
                <div class="breadcrumb-content">

                    <h3 class="fw-bold mb-3">
                        <div class="quote-icon1">
                            <svg xmlns="http://www.w3.org/2000/svg" id="Groupe_1791" data-name="Groupe 1791"
                                width="17.778" height="12" viewBox="0 0 17.778 16">
                                <path id="Tracé_4376" data-name="Tracé 4376"
                                    d="M52,52a1.778,1.778,0,0,0,1.778-1.778V45.881A1.778,1.778,0,0,0,52,44.1H49.531a16.153,16.153,0,0,1,.11-1.874,6.238,6.238,0,0,1,.551-1.764,3.277,3.277,0,0,1,.994-1.214,2.354,2.354,0,0,1,1.543-.5V36a5.359,5.359,0,0,0-2.7.661A5.906,5.906,0,0,0,48.1,38.425,8.747,8.747,0,0,0,47,41.017a13.71,13.71,0,0,0-.331,3.086v6.119A1.778,1.778,0,0,0,48.443,52ZM41.332,52a1.778,1.778,0,0,0,1.778-1.778V45.881A1.778,1.778,0,0,0,41.332,44.1H38.864a16.154,16.154,0,0,1,.11-1.874,6.238,6.238,0,0,1,.551-1.764,3.277,3.277,0,0,1,.994-1.214,2.354,2.354,0,0,1,1.543-.5V36a5.359,5.359,0,0,0-2.7.661,5.906,5.906,0,0,0-1.929,1.764,8.747,8.747,0,0,0-1.1,2.592A13.711,13.711,0,0,0,36,44.1v6.119A1.778,1.778,0,0,0,37.776,52Z"
                                    transform="translate(-35.998 -36)" fill="#57a85d" />
                            </svg>
                        </div>
                        Au sein de Top Management Institute, nous avons conçu des politiques centrées sur les leaders
                        pour vous permettre de créer de la valeur dans les meilleures conditions
                        <div class="quote-icon2">
                            <svg xmlns="http://www.w3.org/2000/svg" width="17.778" height="12" viewBox="0 0 17.778 16">
                                <g id="Groupe_1791" data-name="Groupe 1791"
                                    transform="translate(17.778 16) rotate(-180)">
                                    <path id="Tracé_4376" data-name="Tracé 4376"
                                        d="M52,52a1.778,1.778,0,0,0,1.778-1.778V45.881A1.778,1.778,0,0,0,52,44.1H49.531a16.153,16.153,0,0,1,.11-1.874,6.238,6.238,0,0,1,.551-1.764,3.277,3.277,0,0,1,.994-1.214,2.354,2.354,0,0,1,1.543-.5V36a5.359,5.359,0,0,0-2.7.661A5.906,5.906,0,0,0,48.1,38.425,8.747,8.747,0,0,0,47,41.017a13.71,13.71,0,0,0-.331,3.086v6.119A1.778,1.778,0,0,0,48.443,52ZM41.332,52a1.778,1.778,0,0,0,1.778-1.778V45.881A1.778,1.778,0,0,0,41.332,44.1H38.864a16.154,16.154,0,0,1,.11-1.874,6.238,6.238,0,0,1,.551-1.764,3.277,3.277,0,0,1,.994-1.214,2.354,2.354,0,0,1,1.543-.5V36a5.359,5.359,0,0,0-2.7.661,5.906,5.906,0,0,0-1.929,1.764,8.747,8.747,0,0,0-1.1,2.592A13.711,13.711,0,0,0,36,44.1v6.119A1.778,1.778,0,0,0,37.776,52Z"
                                        transform="translate(-35.998 -36)" fill="#57a85d" />
                                </g>
                            </svg>
                        </div>
                    </h3>

                    <div class="det-breadcrumb">
                        <p class="mb-4">
                            Pour vivre pleinement notre mission et nos valeurs, nous avons conçus nos politiques en vous
                            mettant, en tant que LEADERS, au cœur de toute réflexion.<br><br>
                            Ces politiques sont taillées pour VOUS offrir une Expérience de Leader mémorable (Leadership
                            Experience) tout au long de votre parcours de Leader.
                        </p>
    
                        <div class="breadcrumb-link">
                            <a href="/"><img src="/images/logo-pet.png" alt="icon tmi" title="icon tmi"
                                    width="13" /></a>
                            <i class="fas fa-caret-right me-2"></i>
                            <span>Politiques</span>
                        </div>
                    </div>
                    

                </div>
            </div>

            <!-- RIGHT IMAGE -->
            <div class="col-lg-5 text-center">
                <div class="image-wrapper">
                    <img src="images/politique/leader.png" alt="leaders" class="img-fluid rounded-4 shadow">
                </div>
            </div>

        </div>
    </div>
</section>