<section class="py-5">
    <div class="container">
        <div class="row align-items-center">
            <!-- Title -->
            <div class="col-lg-12">
               
                <div class="members-header mb-4">
                    <h5 class="fw-bold d-flex align-items-center gap-2">
                        <span class="circle-number text-white">3</span>
                        <span class="d-flex align-items-center gap-2">Votre expérience exécutive personnalisables</span>
                    </h5>
                </div>
                  <div class="quote-wrapper position-relative mb-4 p-2">
                    <div class="quote-icon1">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Groupe_1791" data-name="Groupe 1791"
                            width="17.778" height="12" viewBox="0 0 17.778 16">
                            <path id="Tracé_4376" data-name="Tracé 4376"
                                d="M52,52a1.778,1.778,0,0,0,1.778-1.778V45.881A1.778,1.778,0,0,0,52,44.1H49.531a16.153,16.153,0,0,1,.11-1.874,6.238,6.238,0,0,1,.551-1.764,3.277,3.277,0,0,1,.994-1.214,2.354,2.354,0,0,1,1.543-.5V36a5.359,5.359,0,0,0-2.7.661A5.906,5.906,0,0,0,48.1,38.425,8.747,8.747,0,0,0,47,41.017a13.71,13.71,0,0,0-.331,3.086v6.119A1.778,1.778,0,0,0,48.443,52ZM41.332,52a1.778,1.778,0,0,0,1.778-1.778V45.881A1.778,1.778,0,0,0,41.332,44.1H38.864a16.154,16.154,0,0,1,.11-1.874,6.238,6.238,0,0,1,.551-1.764,3.277,3.277,0,0,1,.994-1.214,2.354,2.354,0,0,1,1.543-.5V36a5.359,5.359,0,0,0-2.7.661,5.906,5.906,0,0,0-1.929,1.764,8.747,8.747,0,0,0-1.1,2.592A13.711,13.711,0,0,0,36,44.1v6.119A1.778,1.778,0,0,0,37.776,52Z"
                                transform="translate(-35.998 -36)" fill="#57a85d" />
                        </svg>
                    </div>
                    <p class="quote-text my-2">
                        Une expérience d’apprentissage exécutive où vos bénéfices leaders sont personnalisables
                    </p>
                    <div class="quote-icon2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="17.778" height="12" viewBox="0 0 17.778 16">
                            <g id="Groupe_1791" data-name="Groupe 1791"
                                transform="translate(17.778 16) rotate(-180)">
                                <path id="Tracé_4376" data-name="Tracé 4376"
                                    d="M52,52a1.778,1.778,0,0,0,1.778-1.778V45.881A1.778,1.778,0,0,0,52,44.1H49.531a16.153,16.153,0,0,1,.11-1.874,6.238,6.238,0,0,1,.551-1.764,3.277,3.277,0,0,1,.994-1.214,2.354,2.354,0,0,1,1.543-.5V36a5.359,5.359,0,0,0-2.7.661A5.906,5.906,0,0,0,48.1,38.425,8.747,8.747,0,0,0,47,41.017a13.71,13.71,0,0,0-.331,3.086v6.119A1.778,1.778,0,0,0,48.443,52ZM41.332,52a1.778,1.778,0,0,0,1.778-1.778V45.881A1.778,1.778,0,0,0,41.332,44.1H38.864a16.154,16.154,0,0,1,.11-1.874,6.238,6.238,0,0,1,.551-1.764,3.277,3.277,0,0,1,.994-1.214,2.354,2.354,0,0,1,1.543-.5V36a5.359,5.359,0,0,0-2.7.661,5.906,5.906,0,0,0-1.929,1.764,8.747,8.747,0,0,0-1.1,2.592A13.711,13.711,0,0,0,36,44.1v6.119A1.778,1.778,0,0,0,37.776,52Z"
                                    transform="translate(-35.998 -36)" fill="#57a85d" />
                            </g>
                        </svg>
                    </div>
                </div>
                <p class="mb-4 paragline">
                    Nos MasterClasses sont des investissements de valeur sûre qui offrent une expérience d’apprentissage riche et personnalisée. Au-delà de la qualité garantie de nos séminaires exécutifs, vous bénéficiez d’une assistance post-MasterClass, d’un networking sélectif, d’une tarification préférentielle de nos programmes certifiants, et d’un hébergement ALL inclusive.
                </p>
            </div>
        </div>



            <!-- Carousel -->
    <div class="row my-4">
        <!-- Card 1 -->
        <div class="col-lg-3">
            <div class="card p-3 shadow-card bg-white border-0 h-100 d-flex justify-content-center">
                <div class="feature-icon mb-3">
                    <img src="/images/offres/crown.svg" alt="" srcset="">
                </div>
                <h6 class="blue-text fs-16x fw-bold">Qualité du MasterClass garantie</h6>
                <p class="fs-14x">
                    Les participantes acquerront des compétences en leadership, en gestion de projet et en communication stratégique,
                </p>
                <a href="#" class="fs-13x">Lire la suite &rsaquo;</a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-3">
            <div class="card p-3 shadow-card bg-white border-0 h-100 d-flex justify-content-center">
                <div class="feature-icon mb-3">
                    <img src="/images/offres/referral-alt.svg" alt="" srcset="">
                </div>
                <h6 class="blue-text fs-16x fw-bold">Networking sélectif</h6>
                <p class="fs-14x">
                    Le programme <strong>WomenLead</strong> est supervisé par un comité de direction composé de leaders expérimentés issus de divers
                </p>
                <a href="#" class="fs-13x">Lire la suite &rsaquo;</a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-3">
            <div class="card p-3 shadow-card bg-white border-0 h-100 d-flex justify-content-center">
                <div class="feature-icon mb-3">
                    <img src="/images/offres/headset.svg" alt="" srcset="">
                </div>
                <h6 class="blue-text fs-16x fw-bold">Assistance post séminaire</h6>
                <p class="fs-14x">
                   Offrir aux participantes les outils et les connaissances nécessaires pour devenir des leaders efficaces dans leurs domaines
                </p>
                <a href="#" class="fs-13x">Lire la suite &rsaquo;</a>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-lg-3">
            <div class="card p-3 shadow-card bg-white border-0 h-100 d-flex justify-content-center">
                <div class="feature-icon mb-3">
                    <img src="/images/offres/ressources.svg" alt="" srcset="">
                </div>
                    <h6 class="blue-text fs-16x fw-bold">Eligibilité à une double certification</h6>
                    <p class="fs-14x">
                        Le programme WomenLead est dirigé par une équipe de direction composée de professionnels expérimentés et passionnés
                    </p>
                <a href="#" class="fs-13x">Lire la suite &rsaquo;</a>
            </div>
        </div>

    </div>
    <!-- End Carousel -->

    </div>
</section>