<link rel="stylesheet" href="/css/header2.css">
<link rel="stylesheet" href="/css/research.css">

<!-- BODY SearchLab -->
<section class="bodySearchLab">
    <app-breadcrumb 
        [title]="`Au sein de Top Management Institute, nous croyons que la recherche scientifique et
        l'économie de la connaissance sont des vraies sources d´avantages compétitifs pour les
        organisations de demain`" 
        [description] = "`Les leaders tournés vers l’avenir, considèrent l'intégration et l'exploitation des
        avancées scientifiques, des innovations disruptives, des nouvelles configurations
        organisationnelles, et l’adaptation permanente des modèles d'affaires comme rituel
        managérial.`"
        [pagetitle] = "`Research Lab`"
        [imageLink] = "`/images/searchLab/researchLab.png`">
    </app-breadcrumb>
    <app-mission-labo></app-mission-labo>
    <app-programme-search></app-programme-search>
    <app-team-search></app-team-search>
    <app-academy-partner></app-academy-partner>
    <app-orientation-report></app-orientation-report>
    <app-publication-labo></app-publication-labo>
</section>