<section class="tmi-Talks py-5">
    <div class="container">
        <div class="row align-items-center justify-content-between flex-lg-row-reverse">
            <div class="col-lg-5">
                <div class="tmi-Talks-content">

                    <div class="circle-label">
                        <span class="d-flex align-items-center gap-2"><i class="fas fa-circle"></i> <i
                                class="fas fa-circle"></i> </span> Top Management Talks®
                    </div>

                    <h3>Pour une culture managériale 360° et tournée vers l’avenir</h3>

                    <p>
                        <span>Top Management Talks®</span> est votre rendez-vous mensuel avec un panel des
                        leaders et expert(e)s de renom, traitant un enjeu organisationnel ou sociétal majeur aux
                        quels le Top Managment est confronté.<br> Le Top Managment Talks® est organisé sous
                        forme de débat-conférence avec et pour une audience exécutive composée principalament de
                        décideurs de premier rang (président(e)s, membres de conseils, DG,...) et d'acteurs
                        influents de l'écosystème national et international (gouvernements, institutions
                        publiques, ONG, associations,...).
                    </p>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="tmi-Talks-image image-left">
                    <img src="/images/events/top-management-talks.png" alt="Vision leadership" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>