<section class="py-5 bg-grey">
  <div class="container">

    <!-- Title -->
    <div class="members-header mb-4">
      <div class="circle-label">
        <span class="d-flex align-items-center gap-2">
          <i class="fas fa-circle"></i>
          <i class="fas fa-circle"></i>
        </span>
        Accompagnement Sur Mesure
      </div>
      <h3 class="fw-bold">Simplifier la complexité de vos chantiers stratégiques</h3>
    </div>

    <p class="mb-4 paragline">
      Nos masterClass sont les investissements de valeur sure qui offrent une expériences d'apprentissage
      globale et personnalisée Au-delà de la qualité garantie de nos séminaires exécutifs, vous bénéficiez
      d'une assistance post-MasterClass, d'un networking sélectif, d'une tarification préférentielle de nos
      programmes certifiants et d'un hébergement ALL inclusive.
    </p>

    <!-- Carousel -->
    <div class="row ">
        <!-- Card 1 -->
        <div class="col-lg-3">
            <div class="card p-3 shadow-hov-card blue-bg2 border-0">
                <div class="feature-icon mb-3">
                    <img src="/images/offres/TRANSFORMATION.svg" alt="" srcset="">
                </div>
                <h6 class="green-text fs-16x fw-bold">Transformation</h6>
                <p class="fs-14x">
                    Les participantes acquerront des compétences en leadership, en gestion de projet et en communication stratégique,
                </p>
                <a href="#" class="fs-13x">Lire la suite &rsaquo;</a>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-3">
            <div class="card p-3 shadow-hov-card blue-bg2 border-0">
                <div class="feature-icon mb-3">
                    <img src="/images/offres/gouvernance-partner.svg" alt="" srcset="">
                </div>
                <h6 class="green-text fs-16x fw-bold">Gouvernance</h6>
                <p class="fs-14x">
                    Le programme <strong>WomenLead</strong> est supervisé par un comité de direction composé de leaders expérimentés issus de divers
                </p>
                <a href="#" class="fs-13x">Lire la suite &rsaquo;</a>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-3">
            <div class="card p-3 shadow-hov-card blue-bg2 border-0">
                <div class="feature-icon mb-3">
                    <img src="/images/offres/strategy.svg" alt="" srcset="">
                </div>
                <h6 class="green-text fs-16x fw-bold">Stratégie</h6>
                <p class="fs-14x">
                   Offrir aux participantes les outils et les connaissances nécessaires pour devenir des leaders efficaces dans leurs domaines
                </p>
                <a href="#" class="fs-13x">Lire la suite &rsaquo;</a>
            </div>
        </div>

        <!-- Card 4 -->
        <div class="col-lg-3">
            <div class="card p-3 shadow-hov-card blue-bg2 border-0">
                <div class="feature-icon mb-3">
                    <img src="/images/offres/capitalhumain.svg" alt="" srcset="">
                </div>
                    <h6 class="green-text fs-16x fw-bold">Capital Humain</h6>
                    <p class="fs-14x">
                        Le programme WomenLead est dirigé par une équipe de direction composée de professionnels expérimentés et passionnés
                    </p>
                <a href="#" class="fs-13x">Lire la suite &rsaquo;</a>
            </div>
        </div>

    </div>
    <!-- End Carousel -->

  </div>
</section>