
<link rel="stylesheet" href="/css/header2.css">
<link rel="stylesheet" href="/css/events.css">

<!-- BODY EVENTS -->
<section class="bodyEvents">

    <app-breadcrumb 
        [title]="`Des événements conçus pour instaurer une culture managériale 360°, résiliente et tournée vers l'avenir`" 
        [description] = "`Nous croyons que créer une dynamique managériale encourageant
        l´échange, le partage et le croisement des regards entre les leaders des
        différentes organisations, est une étape première pour créer une nouvelle culture
        managériale 360°, capable de contribuer à l’émergence d’un top
        management à la hauteur des enjeux complexes et
        multidimensionnels.`"
        [pagetitle] = "`Evénements`"
        [imageLink] = "`/images/events/event-breadcrumb.png`">
    </app-breadcrumb>
    <app-talks></app-talks>
    <app-tabs-events></app-tabs-events>
    <app-annual-meeting></app-annual-meeting>

</section>