<link rel="stylesheet" href="/css/header2.css">
<link rel="stylesheet" href="/css/developpement.css">

<section class="bodyDeveloppement">
    <app-breadcrumb 
        [title]="`Top management institute est à la fois une organisation à la fois croyante, pratiquante et militante de la durabilité`" 
        [description] = "`Au-delà d'une recherche de conformité légale ou conventionnelle, ou l'obtention d'une nouvelle source d'avantage compétitif, L'engagement dans la voie de la durabilité est l'acheminement d'une démarche volontariste croyant profondément que l'avenir de l'humanité et de la planète est commun et indivisible, et nous devrions honorer notre part de responsabilité`"
        [pagetitle] = "`Développement durable`"
        [imageLink] = "`/images/durable/durable.png`">
    </app-breadcrumb>
    <app-durabilite-adn></app-durabilite-adn>
    <app-strategie-durable></app-strategie-durable>
    <app-contributionsocietales></app-contributionsocietales>
</section>

