<section class="gouvernance-section">
    <div class="container">
        
        <!-- Title -->
        <div class="members-header mb-5">
            <div class="circle-label">
                <span class="d-flex align-items-center gap-2"><i class="fas fa-circle"></i> <i
                        class="fas fa-circle"></i>
                </span> Leaders MasterClass
            </div>
            <h3 class="fw-bold">Des opportunités uniques pour répondre à vos défis stratégiques</h3>
        </div>
        <p class="mb-4 paragline">
            Nos MasterClasses sont des opportunités uniques pour acquérir les compétences, les connaissances et les insights vous permettant de naviguer dans un contexte de complexité et développer et mettre en place des réponses adaptées à vos enjeux complexes et multidimensionnels. Au-delà d’une expérience d'apprentissage Executive, Nos MasterClasses sont conçus pour stimuler votre curiosité intellectuelle 
            et impacter significativement les démarches et les approches de conduite de vos chantiers stratégiques.
        </p>
        <!---->
    </div>
</section>