<link rel="stylesheet" href="/css/header2.css">
<link rel="stylesheet" href="/css/offre.css">

<section>
    <app-breadcrumb 
        [title]="`Obtenez toutes les ressources qu'il vous faut pour gérer vos enjeux et conduire vos chantiers stratégiques en toute confiance`" 
        [description] = "`Nos expert(e) ont conçus nos programmes avec beaucoup de passion, rigueur méthodologique, et focus leaders pour vous aider en tant que décideur, à gérer efficacement les enjeux complexes et multidimensionnels de l´économie moderne en mettant à votre disposition des démarches prouvées et des boîtes à outils immédiatement opérationnelles.`"
        [pagetitle] = "`Offres de valeur`"
        [imageLink] = "`/images/offres/breadoffre.png`">
    </app-breadcrumb>
    <app-leadermaster></app-leadermaster>
    <app-originmaster></app-originmaster>
    <app-typemaster></app-typemaster>    
    <app-experienceperso></app-experienceperso>
    <app-programorigin></app-programorigin>
    <app-accompagnmesure></app-accompagnmesure>
</section>