<section class="tmi-Labs py-5">
    <div class="container">
        <div class="row align-items-center justify-content-between flex-lg-row-reverse">
            <div class="col-lg-5">
                <div class="tmi-Labs-content">

                    <div class="circle-label">
                        <span class="d-flex align-items-center gap-2"><i class="fas fa-circle"></i> <i
                                class="fas fa-circle"></i> </span> Mission Du Labo
                    </div>

                    <h3>Transformer la connaissance scientifique en avantages compétitifs</h3>

                    <p class="beforeBorder">
                        <span>Top Management ResearchLab®</span> a pour principale mission d’aider nos leaders à
                        <strong>transformer les résultats de la recherche scientifique en applications pratiques
                            conférant un avantage compétitif</strong> et/ou <strong>solutions durables aux
                            enjeux modernes et complexes de l´humanité</strong><br><br>. De manière concrète,
                        notre ResearchLab® se veut comme un <strong>espace où nos LEADERS explorent</strong>,
                        comparent, et exploitent la richesse de notre <strong>contenu scientifique</strong> pour
                        <strong>concevoir des solutions</strong> adaptées à leurs
                        <strong>préoccupations</strong>
                    </p>

                </div>
            </div>

            <div class="col-lg-6">
                <div class="tmi-Labs-image image-left">
                    <img src="/images/searchLab/missionDuLabo.png" alt="Vision leadership" loading="lazy">
                </div>
            </div>
        </div>
    </div>
</section>