<section class="academyPartner">
    <div class="container py-5">

        <!-- Header -->
        <div class="mb-4">
            <div class="circle-label">
                <span class="d-flex align-items-center gap-2">
                    <i class="fas fa-circle"></i> <i class="fas fa-circle"></i>
                </span>
                Partenaires Académiques
            </div>
            <h4 class="section-title mt-2">
                Mutualiser les efforts avec nos partenaires académiques de renom
            </h4>
            <p class="section-desc">
                <strong>Pour mieux exécuter notre programme de recherche</strong>, nous avons tissé des
                <strong>partenariats variés</strong> avec des centres de recherche universitaires, des
                laboratoires privés, des associations professionnelles, et des établissements publics dans les
                quatre coins du monde.
            </p>
            <p class="section-desc">
                Nous croyons qu’un <strong>partenariat stratégique entre les chercheurs et les
                    professionnels</strong> ne peut qu’être <strong>bénéfique</strong> à la <strong>gestion des
                    enjeux complexes</strong> auxquels nos leaders sont confrontés.
            </p>
            <p class="section-desc">
                Nous comptons fièrement parmi nos partenaires :
            </p>
        </div>

        <!-- Tabs -->
        <ul class="nav filter-tabs justify-content-center mb-4">
            <li class="nav-item"><a class="nav-link" href="#">Tous</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Amérique</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Afrique</a></li>
            <li class="nav-item"><a class="nav-link active" href="#">Europe</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Asie</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Australie</a></li>
        </ul>

        <!-- Cards -->
        <div class="row g-4">

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/fr.svg" class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Logo_Universit%C3%A9_Paris-Saclay_2019-12.svg/3840px-Logo_Universit%C3%A9_Paris-Saclay_2019-12.svg.png"
                        class="partner-logo">
                    <div class="partner-name">Maison de la Simulation</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i>
                        www.maisondelasimulation.fr</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/gb.svg" class="flag">
                    <img src="https://cdn.prod.website-files.com/5ee732bebd9839b494ff27cd/5eefab14f2eb3d70a88e48cf_logo-university-oxford.png"
                        class="partner-logo">
                    <div class="partner-name">Dyson Perrins Laboratory</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.ox.ac.uk</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/gb.svg" class="flag">
                    <img src="https://www.cam.ac.uk/sites/default/files/university-cambridge-full-colour-preferred-logo-transparency-2362x491.png"
                        class="partner-logo">
                    <div class="partner-name">Sainsbury Laboratory</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.slcu.cam.ac.uk/</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/fr.svg" class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0e/Logo_of_Sorbonne_University.svg/960px-Logo_of_Sorbonne_University.svg.png"
                        class="partner-logo">
                    <div class="partner-name">LCMCP</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.lcmcp.science</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/es.svg" class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/e/e6/Logo_Universitat_de_Barcelona.png"
                        class="partner-logo">
                    <div class="partner-name">Laboratory Services</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.uab.cat/</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/gb.svg" class="flag">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/university-of-bristol-logo-png-transparent.png"
                        class="partner-logo">
                    <div class="partner-name">Bristol Bioresource</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.bristol.ac.uk</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/ch.svg" class="flag">
                    <img src="https://icosys.ch/wp-content/uploads/2022/11/HES_SO_Logo_RGB.png"
                        class="partner-logo">
                    <div class="partner-name">Innovation Santé Social</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.hes-so.ch</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/be.svg" class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7c/University_of_Li%C3%A8ge_logo.svg/1280px-University_of_Li%C3%A8ge_logo.svg.png"
                        class="partner-logo">
                    <div class="partner-name">Digital Studio Lab</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.lucid.uliege.be</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/fi.svg" class="flag">
                    <img src="https://letstalk.utu.fi/wp-content/uploads/2023/04/University-of-Turku-Finland.png"
                        class="partner-logo">
                    <div class="partner-name">MediCity Research</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.utu.fi</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/fr.svg" class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/02/Universit%C3%A9_de_Lille_logo.svg/1280px-Universit%C3%A9_de_Lille_logo.svg.png"
                        class="partner-logo">
                    <div class="partner-name">Laboratoire Paul Painlevé</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.math.univ-lille.fr</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/gb.svg" class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/en/thumb/3/32/Logo_for_Imperial_College_London.svg/1280px-Logo_for_Imperial_College_London.svg.png"
                        class="partner-logo">
                    <div class="partner-name">Research Labs</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.imperial.ac.uk</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- Card -->
            <div class="col-md-3 col-sm-6">
                <div class="partner-card">
                    <img src="https://flagcdn.com/it.svg" class="flag">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/0d/Uniroma1.svg/3840px-Uniroma1.svg.png"
                        class="partner-logo">
                    <div class="partner-name">Physical Acoustics Lab</div>
                    <a href="#" class="partner-link"><i class="fas fa-globe"></i> www.sbai.uniroma1.it</a>

                    <div class="socials">
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-x-twitter"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-youtube"></i>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <!-- Load More -->
        <div class="loading d-flex justify-content-center align-items-center gap-3 text-muted mt-5">
            <div class="d-flex align-items-end gap-1">
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
            Chargement
        </div>

        <!-- Button -->
        <div class="text-center mt-3">
            <a href="#" class="btn btn-custom btn-sm">
                Devenir partenaire <i class="fas fa-chevron-right ms-1"></i>
            </a>
        </div>

    </div>
</section>