<link rel="stylesheet" href="/css/header2.css">
<link rel="stylesheet" href="/css/contact.css">

<section class="bodyContact">

<app-breadcrumb 
    [title]="`Comment pouvons-nous vous aider aujourd’hui ?`" 
    [description] = "`Besoin d’aide ou avez-vous des questions ?
    Contactez-nous ! Remplissez simplement le formulaire ci-dessous
    et nous vous répondrons dès que possible.`"
    [pagetitle] = "`Contactez-Nous`"
    [imageLink] = "`/images/contact/support.png`">
</app-breadcrumb>
<app-form-contact></app-form-contact>
<app-maps></app-maps>

</section>










