<section class="identity-section py-5">
    <div class="container">
      <div class="mb-5">
        <div class="circle-label">
          <span class="d-flex align-items-center gap-2"><i class="fas fa-circle"></i> <i class="fas fa-circle"></i>
          </span> Notre identité
        </div>
  
        <h3 class="fw-bold">Une organisation centrée sur les leaders</h3>
      </div>
      <div class="row align-items-center">
  
        <!-- LEFT : IMAGE SHAPE -->
        <div class="col-lg-6 mb-4 mb-lg-0">
          <div class="identity-image">
            <img src="images/indentity.png" alt="Notre identité" loading="lazy">
          </div>
        </div>
  
        <!-- RIGHT : CONTENT -->
        <div class="col-lg-6">
          <div class="identity-content">
            <p>
              En tant qu’organisation « centrée sur les leaders », nous croyons
              profondément que les leaders sont des acteurs précieux pour la
              transformation, les communautés d’humanité tout entière.
            </p>
  
            <p>
              Dans le monde complexe et incertain d’aujourd’hui, leurs actions et
              leurs décisions ont un impact direct sur les perspectives, les
              comportements et la vie des gens.
            </p>
  
            <p>
              Notre mission est <strong>d’apporter un support nécessaire à tous les
              leaders</strong>, notamment ceux et celles confrontés à des e<strong>njeux complexes
              et des attentes</strong> variées de leurs parties prenantes.
            </p>
  
            <p>
              Nos experts <strong>internationaux</strong> et nos équipes interculturelles, du monde entier, travaillent en permanence pour <strong>offrir des « propositions de valeur » qui aident les managers à avoir un « parcours du leader » mémorable</strong>, en les aidant à la fois, à réussir leur transformation personnelle, managériale, et organisationnelle en transformant les personnes, la culture et les processus.
            </p>
  
            <p>
              Nous sommes une institution mondiale, avec des racines africaines, reliant les leaders pour soutenir les leaders.
            </p>
  
            <p class="identity-signature">
              Top Management Institute<br>
              <strong>Supporting leaders</strong>
            </p>
  
          </div>
        </div>
  
      </div>
    </div>
  </section>