<section class="hero">
    <div id="heroCarousel" class="carousel slide h-100 carousel-fade" data-bs-ride="carousel" aria-label="Hero Carousel" data-bs-interval="5000">
      <div class="hero-indicators" aria-label="Slide indicators">
        <button data-bs-target="#heroCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"><i
            class="fas fa-circle"></i></button>
        <button data-bs-target="#heroCarousel" data-bs-slide-to="1" aria-label="Slide 2"><i
            class="fas fa-circle"></i></button>
      </div>
      <div class="carousel-inner" aria-live="polite" aria-atomic="true">
        <div class="carousel-item active" data-bs-interval="5000">
          <img src="images/hero1.png" class="d-block w-100" alt="Hero image 1" loading="lazy">
        </div>
        <div class="carousel-item" data-bs-interval="5000">
          <img src="images/hero2.jpg" class="d-block w-100" alt="Hero image 2" loading="lazy">
        </div>
      </div>
  
      <button class="hero-arrow prev" data-bs-target="#heroCarousel" data-bs-slide="prev" aria-label="Previous slide">
        <!-- <i class="fas fa-chevron-left"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" id="arrow-right" width="13" height="24.688" viewBox="0 0 13 24.688"
          aria-hidden="true">
          <path id="Tracé_4356" data-name="Tracé 4356"
            d="M75.82,27a1.017,1.017,0,0,1,0,1.421L65.456,39.052,75.82,49.683a1.017,1.017,0,0,1,0,1.421.968.968,0,0,1-1.387,0L63.412,39.795a1.063,1.063,0,0,1,0-1.485L74.434,27a.968.968,0,0,1,1.387,0Z"
            transform="translate(-63.11 -26.708)" fill="#bdbdbd" />
        </svg>
      </button>
  
      <button class="hero-arrow next" data-bs-target="#heroCarousel" data-bs-slide="next" aria-label="Next slide">
        <!-- <i class="fas fa-chevron-right"></i> -->
        <svg xmlns="http://www.w3.org/2000/svg" width="13" height="24.688" viewBox="0 0 13 24.688" aria-hidden="true">
          <g id="arrow-right" transform="translate(-233.11 -26.708)">
            <path id="Tracé_4356" data-name="Tracé 4356"
              d="M63.4,27a1.017,1.017,0,0,0,0,1.421L73.764,39.052,63.4,49.683a1.017,1.017,0,0,0,0,1.421.968.968,0,0,0,1.387,0L75.808,39.795a1.063,1.063,0,0,0,0-1.485L64.786,27A.968.968,0,0,0,63.4,27Z"
              transform="translate(170)" fill="#fff" />
          </g>
        </svg>
      </button>
    </div>
  
    <div class="hero-content">
      <small>Réaliser vos idées et gérer vos efforts</small>
      <h1>
        <span>Émergence</span> de Vos Idées, Guide Pour la Réalisation et la Gestion Efficace
      </h1>
      <p>
        Plongez dans un voyage d'innovation et de productivité avec notre guide pratique. Découvrez comment
        concrétiser vos idées créatives tout en optimisant vos efforts. Que vous soyez un entrepreneur
        ambitieux, un créateur passionné ou simplement quelqu'un en quête de réalisation personnelle.
      </p>
      <a href="#" class="btn btn-hero-custom" aria-label="Lire la suite de l'article">
        <span>Lire la suite</span>
        <i class="fas fa-chevron-right" aria-hidden="true"></i>
      </a>
    </div>
  
    <div class="scroll-down">
      Scroll Down<br>
      <!-- <i class="fas fa-mouse"></i> -->
      <span>
        <i class="fas fa-long-arrow-alt-down"></i>
      </span>
    </div>
  </section>