<section class="tmi-newsletter-section">

    <div class="container">
  
      <div class="tmi-newsletter-box">
  
        <div class="row align-items-center">
  
          <!-- TEXT -->
          <div class="col-lg-6">
  
            <h2 class="tmi-newsletter-title">
              S'inscrire à notre newsletter
            </h2>
  
            <p class="tmi-newsletter-text">
              <strong>Inscrivez-vous</strong> à notre newsletter pour recevoir les dernières
              actualités, les tendances du secteur et des offres exclusives
              directement dans votre boîte de réception.
            </p>
  
            <form class="tmi-newsletter-form">
  
              <input type="email" placeholder="Votre adresse e-mail...">
  
              <button type="submit">
                S'inscrire
              </button>
  
            </form>
  
          </div>
  
          <!-- IMAGE -->
          <div class="col-lg-6 position-relative">
  
            <img src="images/subscribeNewsletter.png" class="tmi-newsletter-image" alt="newsletter">
  
          </div>
  
        </div>
  
      </div>
  
    </div>
  
  </section>